<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>

<body>


    <div id="app" style="margin-left: 400px;">
        <div style="background-color: black; height: 520px; width: 740px; padding-top: 20px;">
            <div v-if="show"
                style="height: 450px; width: 700px; border-width: 20px; border-color: black; background-color: white; border: 5px solid
                black; border-bottom: 20px solid black; margin-left: 15px;">
                <img src="../images/v.gif"  style="margin-left: 150px;">
            </div>
            <div v-else
                style="height: 450px; width: 700px; border-width: 20px; border-color: black; background-color: grey; border: 5px solid
                black; border-bottom: 20px solid black; margin-left: 15px;">
            </div>

            <small>
                <button v-on:click="toggle" style="float: right; margin-right: 10px;">
                    <div v-if="show">on</div>
                    <div v-else>off</div>
                </button>
            </small>
        </div>

    </div>

    <script src="../javascript/vue.js"></script>
    <script src="../javascript/tv.js"></script>
</body>

</html>